---
const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "perplexity",
		desc: "Perplexity is a free AI-powered answer engine that provides accurate, trusted, and real-time answers to any question.",
		href: "https://perplexity.ai/",
	},
	{
		title: "ollama",
		desc: "Get up and running with Llama 3.3, DeepSeek-R1, Phi-4, Gemma 2, and other large language models.",
		href: "https://ollama.ai/",
	},
	{
		title: "open-webui",
		desc: "User-friendly AI Interface (Supports Ollama, OpenAI API, ...)",
		href: "https://github.com/open-webui/open-webui",
	},
	{
		title: "chatgpt",
		desc: "ChatGPT is a large language model trained by OpenAI.",
		href: "https://chat.openai.com/",
	},
	{
		title: "reflex",
		desc: "Web apps in pure Python",
		href: "https://reflex.dev",
	},
	{
		title: "taipy",
		desc: "Turns Data and AI algorithms into production-ready web applications in no time.",
		href: "https://taipy.io",
	},
	{
		title: "streamlit",
		desc: "Streamlit — A faster way to build and share data apps.",
		href: "https://streamlit.io",
	},
	{
		title: "tmux-cssh",
		desc: "tmux-cssh - A tmux plugin for ssh multiplexing.",
		href: "https://github.com/peikk0/tmux-cssh",
	},
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
];
---

<section class='mt-10'>
    <h2 class='title mb-4 text-xl'>Tech</h2>
    <dl class='space-y-4'>
        {
            cactusTech.map(({ href, title, desc }) => (
                <div class='flex flex-col gap-2 md:flex-row'>
                    <dt>
                        <span class='flex'>
                            <a href={href} target='_blank' rel='noopener noreferrer' class='cactus-link'>
                                {title}
                            </a>
                            :
                        </span>
                    </dt>
                    <dd>{desc}</dd>
                </div>
            ))
        }
    </dl>
</section>